<h2>Products</h2>

<div *ngFor="let product of products">

  <h3>
    <a [title]="product.name + ' Details'">
      {{ product.name }}
    </a>
  </h3>
  <p *ngIf="product.description ; else elseBlock">
    Description: {{ product.description }}
  </p>
  <ng-template #elseBlock>
    <p class="no" > Description coming ..</p>
    </ng-template>
  <button (click)="share()">
    Share
  </button>
 <app-product-alerts
  [product]="product" 
  (notify)="onNotify()">
</app-product-alerts>
<hr>
</div>